<div class="panel panel-default">
    <div class="panel-heading">
        Appliance Details
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                {{input type="text" value=appliances.newItem.model class="form-control" placeholder="Model"}}
            </div>
            <div class="form-group">
                {{textarea value=appliances.newItem.description class="form-control" placeholder="Description"}}
            </div>
            <div class="form-group">
                <ul class="list-inline">
                    <li>Upload Appliance Images:</li>
                    <li>{{file-input fileChanged="fileSelectionChanged"}}</li>
                </ul>
                {{#each appliances.newItem.files as |file|}}
                    <img src="{{file.dataURL}}" height="100">
                {{/each}}
            </div>
            <button type="submit" class="btn btn-info btn-sm" {{action 'submit' appliances.newItem}}>Submit</button>
            <button type="button" class="btn btn-default btn-sm" {{action 'reset'}}>Reset</button>
            <button type="button" class="btn btn-default btn-sm" {{action 'backToList'}}>Back to Appliances list</button>
        </form>
    </div>
</div>